<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon-40</key>
	<string>40</string>
	<key>Icon-40@2x</key>
	<integer>80</integer>
	<key>Icon-40@3x</key>
	<integer>120</integer>
	<key>Icon-60@2x</key>
	<integer>120</integer>
	<key>Icon-60@3x</key>
	<integer>180</integer>
	<key>Icon-Small-29</key>
	<integer>29</integer>
	<key>Icon-Small-29@2x</key>
	<integer>58</integer>
	<key>Icon-Small-29@3x</key>
	<integer>87</integer>
	<key>Icon-76</key>
	<integer>76</integer>
	<key>Icon-76@2x</key>
	<integer>152</integer>
	<key>Icon-20</key>
	<string>20</string>
	<key>Icon-20@2x</key>
	<integer>40</integer>
	<key>Icon-20@3x</key>
	<string>60</string>
	<key>Icon_835@2x</key>
	<string>167</string>
	<key>ios-marketing</key>
	<string>1024</string>
</dict>
</plist>
